:root {

    --gray: #494949;
    --yellow: #FFBD59;

}

.nav-link, .btn-light, .border-secondary, .dropdown-item {
    color: var(--gray);
    border-color: var(--gray);
}

.navbar-toggler:focus {
    box-shadow: none;
    border: 3px solid var(--yellow);
    scale: 0.95;   
}

.h1 {
    color: var(--yellow);
    font-weight: bold;
    text-transform: uppercase;
}

.body-adopet {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
}

.bg-dark {
    background-color: black!important;
}

.logo-footer {
    width: auto;
    height: 30px;
}

footer ul li .nav-link {
    color: white;
    text-decoration: none;
    border: none;
    padding: 05px 0;
}

footer ul li .nav-link:hover{
    color: var(--yellow);
}