body {
    width: 100%!important;
}

main {
    margin: 40px 0 60px;
}

form {
    max-width: 400px;
}

form h1 {
    font-size: 24px;
    font-weight: 700;
}

.btn-dark {
    background-color: black;
}

.form-control {
    border: 1px solid black;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--yellow);
}

.link-form {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 25px;
}

.input-alert {
    font-size: 15px;
    opacity: 80%;
}

.sucess {
    height: 200px;
    gap: 50px;
}

.sucess img {
    width: 200px;
    height: auto;
}

#btn-sucess-login  {
    background-color: var(--yellow);
    color: black;
}

#btn-sucess-login:hover {
    background-color: #e2a74d;
}

#loading-message {
    width: 100%;
    margin: 100px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #e0e0e0;
}

.form-group, .form-group-att {
    opacity: 0;
}

.hidden {
    opacity: 0;
}